name: Docker Image CI

on:
  push:
    branches: [ "main" ]
 
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3.0.0
    - name: Docker Login
      uses: docker/login-action@v1
      with:
            username: ${{ secrets.USERNAME }}
            password: ${{ secrets.PASSWORD}}
    - name: Build and Push Docker image
      uses: docker/build-push-action@v5.0.0
      with:
          context: .  # Ruta al contexto de construcción (puede ser el directorio actual)
          file: ./Dockerfile  # Ruta al Dockerfile
          push: true  # Habilitar el empuje de la imagen
          tags: ${{ secrets.USERNAME }}/node-ci:latest  # Nombre y etiqueta de la imagen
      env:
          DOCKER_USERNAME: ${{ secrets.USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.PASSWORD }}
